/* reset */
*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  color: var(--main-text-color-1);
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  scroll-behavior: smooth;
}
ul, li{
  list-style: none;
}
html {
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
}
body{
  background: #eaeaea;
  overflow-x: hidden;
}
::selection{
  background-color: var(--main-box-color-1);
  color: #eaeaea;
}