@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root{
  --bg-color-main: #dfdee3;
  --main-color-01: #433f67;
  /* 메인 그라데이션 색상 */
  --g-c-01: #4ba8ca;
  --g-c-02: #a374af;
  --g-c-03: #d259a0;
}
::selection{
  background-color: var(--main-color-01);
  color: #fff;
}

*{
  margin: 0;
  padding: 0;
  color: var(--main-color-01);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  font-weight: 300;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul, li{
  list-style: none;
}
html{scroll-behavior: smooth;}
body{
  background-color: var(--bg-color-main);
  overflow-x: hidden;
}
.container{
  width: 100%;
  height: fit-content;
  margin: auto;
}

.header{
  width: 100%;
  height: fit-content;
  position: relative;
}
.header > .text-box:nth-child(1){
  margin-top: 108px;
  display: flex;
  justify-content: center;
}
.header > .text-box:nth-child(1) > h1{
  display: inline-block;
}
.header > .text-box:nth-child(1) > h1 span{
  display: block;
  margin:  0 0 8px 0;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
} .header > .text-box:nth-child(1) > h1 span:last-child{margin: 0;}
.header > .text-box:nth-child(1) > h1 span:last-child{
  margin-left: 3.8px;
  letter-spacing: 11.1px;
}

.header > .text-box:nth-child(2){
  display: flex;
  justify-content: center;
  margin-top: 14px;
}
.header > .text-box:nth-child(2) > h2{
  display: inline-block;
}
.header > .text-box:nth-child(2) > h2 span{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 6px 0 0;
} .header > .text-box:nth-child(2) > h2 span:last-child{
  margin: 0;
}
/* sec-01 */
.sec-01{
  margin-top: 98px;
  display: flex;
  justify-content: space-between;
  padding-right: 126px;
  position: relative;
}
.sec-01 > .nav-box{
  width: 180px;
  height: 188px;
  padding: 0 0 0 60px;
  position: relative;
  margin-top: 82px;
}
.sec-01 > .nav-box::after{
  content: '';
  width: 7px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color-01);
  border-radius: 2px;
}
.sec-01 > .nav-box ul{
  display: grid;
  align-items: center;
  height: 100%;;
  width: 107px
}
.sec-01 > .nav-box ul li:first-child a{
  font-weight: 400;
}
.sec-01 > .nav-box ul li{
  width: 100%;
  text-align: left;
}
.sec-01 > .nav-box ul li a{
  text-transform: uppercase;
  font-weight: 300;
  transition: all .2s ease;
  letter-spacing: 5px;
}
.sec-01 > .nav-box ul li:hover a{
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 4px;
  padding-right: 30px;
}
.sec-01 > .banner-container{
  position: relative;
}
.sec-01 > .banner-container > .img-box{
  width: 1318px;
  height: 877px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.sec-01 > .banner-container > .img-box img{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec-01 > .banner-container > .t-box{
  display: flex;
  position: absolute;
  height: 20px;
  left: -81px;
  bottom: 53px;
  z-index: 999;
  overflow: hidden;
  cursor: default;
}
.sec-01 > .banner-container > .t-box > div{
  width: 200px;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
}
.sec-01 > .banner-container > .t-box h3 span:first-child{
  margin:  0 36px 0 36px;
} .sec-01 > .banner-container > .t-box h3 span{
  margin: 0 36px 0 0;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
}
.sec-01 > .banner-container > .back-bg-box{
  width: 473px;
  height: 671px;
  background-color: #cfccd3;
  position: absolute;
  top: -20px;
  right: -84px;
  z-index: 0;
  border-radius: 4px;
}
.sec-01 > .sns-nav{
  position: relative;
}
.sec-01 > .sns-nav ul{
  position: absolute;
  bottom: 0;
}
.sec-01 > .sns-nav ul li{
  margin: 90px 0;
  transform: rotate(90deg) translateY(-20px);
  text-align: center;
}
.sec-01 > .sns-nav ul li a{
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* sec-02 */
.sec-02{
  width: 100%;
  height: fit-content;
  margin-top: 200px;
}
.sec-02 > .area-01{
  width: 100%;
  height: 1010px;
  position: relative;
}
.sec-02 > .area-01 > .bg-deco{
  position: absolute;
  width: 100%;
  height: 1010px;
}
.sec-02 > .area-01 > .bg-deco > div:nth-child(1){
  width: 470px;
  height: 504px;
  background: linear-gradient(235deg, #dfdee3 40%, #4ba8ca 128%);
  position: absolute;
  left: 0;
  bottom: 0;
}
.sec-02 > .area-01 > .bg-deco > div:nth-child(2){}
.sec-02 > .area-01 > .contents{
  width: 1318px;
  height: 100%;
  margin: auto;
  position: relative;
}
.sec-02 > .area-01 > .contents > .text-area{
  width: 576px;
  height: 360px;
  position: absolute;
  left: 0;
  top: 0;
}
.sec-02 > .area-01 > .contents > .text-area h2{
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 4px;
  transform: translateX(-4px);
  text-align: center;
  position: relative;
  z-index: 1;
}
.sec-02 > .area-01 > .contents > .text-area h2::after{
  content: '';
  width: 78%;
  height: 8px;
  background-color: #0000004b;
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-52%);
  bottom: 12px;
}
.sec-02 > .area-01 > .contents > .text-area p{
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  margin-top: 60px;
  padding: 0 130px;
  text-align: left;
}
.sec-02 > .area-01 > .contents > .img-area{
  width: 880px;
  height: 610px;
  position: absolute;
  top: 108px;
  right: 0;
}
.sec-02 > .area-01 > .contents > .img-area > .inner{
  width: 100%;
  height: 100%;
  position: relative;
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .box-01{
  width: 320px;
  height: 176px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 4px;
  animation: box-move-1 2s ease-in-out infinite alternate;
}
@keyframes box-move-1{
  from{
    left: 0;
    bottom: 0;
  }
  to{
    left: 15px;
    bottom: 5px;
  }
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .box-01 img{
  position: absolute;
  transform: translate(-50%, -50%) scale(.43);
  left: 50%;
  top: 50%;
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .long-box{
  width: 340px;
  height: 498px;
  position: absolute;
  left: 210px;
  bottom: 50px;
  z-index: 0;
  animation: box-move-2 3s ease-in-out infinite alternate;
}
@keyframes box-move-2{
  from{
    left: 210px;
    bottom: 50px;
  }
  to{
    left: 200px;
    bottom: 40px;
  }
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .long-box .text-box{
  width: 100%;
  height: 24px;
  margin-bottom: 10px;
  display: flex;
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .long-box .text-box > .box{
  width: 24px;
  height: 100%;
  /* background-color: var(--g-c-01); */
  position: relative;
  z-index: 0;
  transform: rotate(90deg);
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .long-box .text-box > .box::after{
  content: '';
  border-top: 8px solid none;
  border-bottom: 8px solid #3b3b3b;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .long-box .text-box p{
  margin-left: 10px;
  font-size: 1em;
  letter-spacing: 4px;
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .long-box .img-box{
  width: 100%;
  height: 474px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .long-box .img-box img{
  position: absolute;
  transform: translate(-50%, -50%) scale(.5);
  left: 47%;
  top: 34%;
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .box-03{
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  animation: box-move-3 2s ease-in-out infinite alternate;
}
@keyframes box-move-3{
  from{
    top: 0;
    right: 0;
  }
  to{
    top: 10px;
    right: 5px;
  }
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .box-03 img{
  position: absolute;
  transform: translate(-50%, -50%) scale(.3);
  left: 50%;
  top: 50%;
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .box-04{
  width: 230px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 228px;
  right: 0;
  border-radius: 4px;
  animation: box-move-4 5s ease-in-out infinite alternate;
}
@keyframes box-move-4{
  from{
    top: 228px;
    right: 0;
  }
  to{
    top: 240px;
    right: 10px;
  }
}
.sec-02 > .area-01 > .contents > .img-area > .inner > .box-04 img{
  position: absolute;
  transform: translate(-50%, -50%) scale(.4);
  left: 50%;
  top: 50%;
}

/* area-02 */
.sec-02 > .area-02{
  width: 100%;
  position: relative;
}
.sec-02 > .area-02 > .bg-deco{}
.sec-02 > .area-02 > .contents{
  width: 1000px;
  margin: auto;
}
.sec-02 > .area-02 > .contents > .cass-01{}
.sec-02 > .area-02 > .contents > .cass-01 > .title{}
.sec-02 > .area-02 > .contents > .cass-01 > .title h2{
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 4px;
  transform: translateX(-4px);
  text-align: center;
  position: relative;
  z-index: 1;
}
.sec-02 > .area-02 > .contents > .cass-01 > .title h2::after{
  content: '';
  width: 39%;
  height: 8px;
  background-color: #0000004b;
  z-index: 0;
  position: absolute;
  left: 51%;
  transform: translateX(-52%);
  bottom: 12px;
}
.sec-02 > .area-02 > .contents > .cass-01 > .con-list{
  margin-top: 112px;
  width: 100%;
}
.sec-02 > .area-02 > .contents > .cass-01 > .con-list > .c-l{
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  transition: all .2s ease;
  border-radius: 10px;
  padding: 2px;
}
.sec-02 > .area-02 > .contents > .cass-01 > .con-list > .c-l:hover{
  /* background: #a374af4d; */
}
.sec-02 > .area-02 > .contents > .cass-01 > .con-list > .c-l:last-child{
  margin: 0;
}
.sec-02 > .area-02 > .contents > .cass-01 > .con-list > .c-l > .date{
  margin-top: 8px;
}
.sec-02 > .area-02 > .contents > .cass-01 > .con-list > .c-l h3{
  font-size: 1em;
  font-weight:600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sec-02 > .area-02 > .contents > .cass-01 > .con-list > .c-l p{
  margin-top: 1em;
  font-size: .7em;
  font-weight:400;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.sec-02 > .area-02 > .contents > .cass-01 > .con-list > .c-l > .info{
  margin-top: 8px;
  margin-right: 40px;
}
.sec-02 > .area-02 > .contents > .cass-01 > .con-list > .c-l > button{
  background: none;
  border-radius: 50px;
  width: 200px;
  height: 100%;
  font-size: .7em;
  font-weight: 400;
  letter-spacing: 3px;
  color: var(--main-color-01);
  border: 1px solid var(--g-c-02);
  cursor: pointer;
  text-transform: uppercase;
}

/* footer */
.footer{
  padding: 0 200px;
  /* margin-top: 290px; */
  margin-top: 100px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000e0;
}
.footer > .logo{}
.footer > .logo > h2{
  text-transform: uppercase;
}
.footer > .logo > h2 > a{
  color: var(--bg-color-main);
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 4px;
  margin: 0 4px 0 0;
}
.footer > .foo-nav{

}
.footer > .foo-nav > li{
  display: inline-block;
  margin-right: 45px;
} .footer > .foo-nav > li:last-child{
  margin: 0;
}
.footer > .foo-nav > li > a{
  color: var(--bg-color-main);
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}