@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/************************************************/
*{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}
a{
  text-decoration: none;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}
p{
  color: white;
}
ul, ol{
  list-style: none;
}
fieldset{
  border: none;
}
h2{
  font-size: 16px;
}
option{
  background-color: black;
    /* background-color: transparent; */
}
select{
  border: 0;
  outline: none;
}
.CheckBox label{
  font-size: 18px;
  font-family: InfinitySans-RegularA1;
}

/*********************************************************************
font-family: 'Noto Sans KR', sans-serif;  [Light 300, Medium 500]

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
**********************************************************************/