@media screen and (max-width: 1900px) {
  .user_profile_wrap{
    display: none;
  }
  #modal_btn{
    display: none;
  }
  .audioplayer-time.audioplayer-time-duration{
    display: none;
  }
}

@media screen and (max-width: 1836px) {
  .audioplayer-volume-button{
    display: none;
  }
}

@media screen and (max-width: 1740px) {
  .audioplayer-time.audioplayer-time-current{
    display: none;
  }
  .audioplayer-bar{
    display: none;
  }
}

@media screen and (max-width: 1720px) {
  #left{
    display: none;
  }
}

@media screen and (max-width: 1740px) {
  .audioplayer-time.audioplayer-time-current{
    display: none;
  }
  .audioplayer-bar{
    display: none;
  }
}

@media screen and (max-width: 1140px){
  .player_musicinfo{
    display: none;
  }
}